

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.section {
  width: 100%;
  height: 100vh;
  min-height: 800px;
}

.section.dark{
  background-color: rgb(37, 56, 75);
}
.section.purple{
  background-color: rgb(73, 72, 73);
}
.section.pink{
  background-color: rgb(246, 239, 203);
}
.section.grey{
  background-color: rgb(202, 200, 200);
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.605);
  z-index: 100;
}

.about_text {
  position: absolute;
  max-width: 640px;
  width: 70%;
  height: 600px;
  left: 50%;
  transform: translate(-50%, 10%);
  background-color: rgb(36, 34, 34);
  padding: 25px;
  border-radius: 1rem;
  overflow-y: auto;
}

.about_text h1{
  color: white;
}

.about_text p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 40px;
}

.exit_about {
  position: absolute;
  right: .7rem;
  top: .7rem;
  font-size: 30px;
  color: rgb(194, 188, 188);
  cursor: pointer;
}

.exit_about:hover {
  color: rgb(84, 82, 82);
}

.container_top {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 50px;
  top: 3rem;
  margin: 0 auto;
}

.leftside {
  position: relative;
  float: left;
  left: 1rem;
}


.keyboard {
  font-size: 35px;
}

.keyboard.dark {
  color: rgb(57, 235, 87);
}
.keyboard.purple {
  color: rgb(237, 237, 237);
}
.keyboard.pink {
  color: rgb(247, 84, 231);
}

.keyboard.grey {
  color: white;
}


.leftside span {
  position: relative;
  font-size: 23px;
  font-weight: bold;
  top: -.6rem;
  margin-left: 1.2rem;
}

.leftside.dark span{
  color: rgb(57, 235, 87);
}
.leftside.purple span{
  color: rgb(237, 237, 237);
}
.leftside.pink span{
  color: rgb(247, 84, 231);
}

.leftside.grey span{
  color: white;
}

.rightside {
  display: flex;
  position: relative;
  float: right;
  right: 1rem;
  top: .3rem;
}

.color_change{
  display: flex;
  position: relative;
  width: 100px;
  height: 25px;
  border: 2px solid white;
  border-radius: .5rem;
  justify-content: space-evenly;
  align-items: center;
}


.color_change div {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.arrow_down {
  cursor: pointer;
}


.color_one.dark{
  background-color: white;
}

.color_two.dark{
  background-color: rgb(142, 137, 137);
}

.color_three.dark{
  background-color: rgb(21, 20, 20);
}
.arrow_down.dark {
  color: white;
}

.color_one.purple{
  background-color: white;
}

.color_two.purple{
  background-color: black;
}

.color_three.purple{
  background-color: rgb(142, 137, 137);
}
.arrow_down.purple {
  color: white;
}

.color_one.pink{
  background-color: rgb(238, 144, 255);
}

.color_two.pink{
  background-color: rgb(239, 214, 133);
}

.color_three.pink{
  background-color: rgb(113, 111, 111);
}
.arrow_down.pink {
  color: black;
}

.color_one.grey{
  background-color: rgb(214, 211, 215);
}

.color_two.grey{
  background-color: rgb(110, 109, 107);
}

.color_three.grey{
  background-color: rgb(32, 32, 32);
}
.arrow_down.grey {
  color: black;
}


.color_one_dark{
  background-color: white;
}
.color_two_dark{
  background-color: rgb(142, 137, 137);
}
.color_three_dark{
  background-color: rgb(91, 224, 111);
}

.color_one_purple {
  background-color: white;
}
.color_two_purple {
  background-color: black;
}
.color_three_purple {
  background-color: rgb(142, 137, 137);
}

.color_one_pink {
  background-color: rgb(238, 144, 255);
}
.color_two_pink {
  background-color: rgb(239, 214, 133);
}
.color_three_pink {
  background-color: rgb(113, 111, 111);
}

.color_one_grey {
  background-color: rgb(214, 211, 215);
}
.color_two_grey {
  background-color: rgb(110, 109, 107);
}
.color_three_grey {
  background-color: rgb(32, 32, 32);
}

.dropdown_color {
  display: flex;
  position: absolute;
  width: 140px;
  height: 120px;
  top: 2rem;
  right: 2.2rem;
  border: 2px solid white;
  backdrop-filter: blur(5px);
  background-color: rgba(192, 187, 187, 0.135);
  border-radius: .5rem;
  flex-direction: column;
  justify-content: space-around;
  z-index: 20;
}



.dark_theme {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  justify-content: end;
  align-items: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom: 1px solid white;
  gap: 7px;
  cursor: pointer;
}

.dark_theme.dark{
  border-color: white;
}

.dark_theme.purple {
  border-color: white;
}


.dark_theme div {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  right: 8px;
  
}

.dark_theme span{
  position: relative;
  color: rgb(94, 92, 92);
  font-size: 15px;
  right: 1.8rem;
}
.dark_theme.dark span{
  color: white;
}
.dark_theme.purple span{
  color: white;
}

.purple_theme {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  justify-content: end;
  align-items: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom: 1px solid white;
  gap: 7px;
  cursor: pointer;
}
.purple_theme.dark{
  border-color: white;
}

.purple_theme.purple {
  border-color: white;
}

.purple_theme div {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  right: 8px;
}

.purple_theme span{
  position: relative;
  color: rgb(94, 92, 92);
  font-size: 15px;
  right: .5rem;
}
.purple_theme.dark span{
  color: white;
}
.purple_theme.purple span{
  color: white;
}

.pink_theme {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  justify-content: end;
  align-items: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom: 1px solid white;
  gap: 7px;
  cursor: pointer;
}
.pink_theme.dark {
  border-color: white;
}

.pink_theme.purple {
  border-color: white;
}

.pink_theme div {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  right: 8px;
}

.pink_theme span{
  position: relative;
  color: rgb(94, 92, 92);
  font-size: 15px;
  right: 2.5rem;
}
.pink_theme.dark span{
  color: white;
}
.pink_theme.purple span{
  color: white;
}

.grey_theme {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  justify-content: end;
  align-items: center;
  border-radius: .5rem;
  bottom: 3px;
  gap: 7px;
  cursor: pointer;
}

.grey_theme div {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  right: 8px;
}

.grey_theme span{
  position: relative;
  color: rgb(94, 92, 92);
  font-size: 15px;
  right: 2.25rem;
}

.grey_theme.dark span{
  color: white;
}
.grey_theme.purple span{
  color: white;
}

.about_icon {
  position: relative;
  font-size: 25px;
  margin-left: .8rem;
  top: 0px;
  cursor: pointer;
}

.about_icon_div::after {
  display: none;
  content: 'about';
  position: absolute;
  font-size: 16px;
  background-color: rgb(120, 116, 116);
  color: white;
  padding: 2px 5px;
  border-radius: .2rem;
  bottom: -1.6rem;
  left: 6.8rem;
}

.about_icon_div:hover::after {
  display: block;
}

.container_mid {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  top: 6rem;
  align-items: center;
  justify-content: space-between;
}

.timer_icon {
  position: relative;
  font-size: 28px;
  top: 4px;
}

.timer_icon.dark {
  color: rgb(57, 235, 87);
}
.timer_icon.purple {
  color: rgb(237, 237, 237);
}
.timer_icon.pink {
  color: rgb(247, 84, 231);
}

.timer_icon.grey {
  color: white;
}


.timer{
  display: flex;
  position: relative;
  width: 130px;
  height: 40px;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  border-radius: .5rem;
  align-items: center;
  padding: 0px 12px;
  font-size: 19px;
}

.timer.dark{
  background-color: rgba(72, 73, 73, 0.272);
}
.timer.purple{
  background-color: rgba(55, 55, 65, 0.306);
}
.timer.pink{
  background-color: rgba(136, 140, 140, 0.162);
}

.timer.grey{
  background-color: rgba(185, 176, 176, 0.482);
}


.timer span {
  background-color: rgba(178, 169, 169, 0);
  border-radius: .2rem;
  padding: 1px 4px;
  cursor: pointer;
}

.timer.dark span{
  color: rgb(57, 235, 87);
}
.timer.purple span{
  color: rgb(237, 237, 237);
}
.timer.pink span{
  color: rgb(247, 84, 231);
}

.timer.grey span{
  color: white;
}



.timer span:hover {
  background-color: rgba(227, 226, 228, 0.53);
}

.click_to_play{
  display: flex;
  position: relative;
  top: 13rem;
  left: 1rem;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 2;
}



.play_icon {
  position: relative;
  font-size: 25px;
  top: 2px;

}



.click_to_play span {
  font-size: 17px;
}

.main_game_container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  top: 14rem;

}

.main_game{
  display: flex;
  position: absolute;
  word-break: break-all;
  max-width: 700px;
  width: 85%;
  min-height: 22vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 15px 20px;
  background-color: rgba(172, 166, 166, 0);
  border-radius: .5rem;
  color: black;
  z-index: 2;
}



.main_game.dark {
  color: rgb(57, 235, 87);
}

.main_game.purple{
  color: #dbd9dd;
}
.main_game.pink{
  color: rgb(247, 84, 231);
}

.main_game.grey{
  color: white;
}

textarea {
  resize: none;
}

.main_game_two{
  display: flex;
  position: absolute;
  word-break: break-all;
  max-width: 700px;
  border: none;
  width: 85%;
  min-height: 22vh;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 10%);
  background-color: #9a54c900;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 15px 20px;
  border-radius: .5rem;
  color: rgba(0, 0, 0, 0.388);
}

@media screen and (orientation: landscape) {

}

.main_game_two.dark {
  color: rgb(190, 194, 190);
}

.main_game_two.purple{
  color: #dedcdf;
}
.main_game_two.pink{
  color: rgb(58, 55, 58);
}

.main_game_two.grey{
  color: rgb(108, 102, 102);
}


.result_container {
  display: grid;
  position: relative;
  min-height: 400px;
  place-items: center;
  top: 13rem;

}

.close_result{
  position: absolute;
  font-size: 25px;
  right: 8px;
  top: 7px;
  background-color: rgba(192, 191, 191, 0);
  cursor: pointer;
  z-index: 20;
}

.close_result.dark {
  color: rgb(190, 194, 190);
}

.close_result.purple{
  color: #dedcdf;
}
.close_result.pink{
  color: rgb(58, 55, 58);
}

.close_result.grey{
  color: rgba(63, 60, 60, 0.984);
}

.result{
  display: grid;
  position: absolute;
  max-width: 610px;
  width: 80%;
  min-height: 430px;
  background-color: rgb(192, 191, 191);
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0px 10px;
  padding-bottom: 50px;
  z-index: 10;
}

.result.dark{
  background-color: rgba(77, 114, 151, 0.283);
}
.result.purple{
  background-color: rgba(175, 174, 175, 0.162);
}
.result.pink{
  background-color: rgba(179, 170, 126, 0.212);
}
.result.grey{
  background-color: rgba(192, 191, 191, 0.916);
}



.result div {
  position: relative;
  max-width: 140px;
  width: 23vw;
  height: 100px;
  top: 3rem;
  text-align: center;
  backdrop-filter: blur(2px);
  border-radius: .5rem;
}

.result.dark div{
  background-color: rgba(75, 117, 158, 0.292);
  box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.322);
}
.result.purple div{
  background-color: rgba(138, 138, 138, 0);
  box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.283);
}
.result.pink div{
  background-color: rgba(236, 230, 200, 0.486);
  box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.361);
}
.result.grey div{
  background-color: rgba(192, 191, 191, 0.263);
  box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.632);
}

.result_container span {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  top: 1.2rem;
  color: white;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0);
}



@media screen and (width < 400px) {
  
  .result_container span {
    font-size: 14px;
  }
  
}

.result p { 
  position: absolute;
  width: 220px;
  height: 20px;
  top: 14rem;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
}

.result.dark p{
  color: rgb(227, 236, 229);
}

.result.purple p{
  color: #e6e5e7;
}
.result.pink p{
  color: rgb(108, 102, 108);
}

.result.grey p{
  color: rgb(81, 77, 77);
}

.result h4 {
  position: absolute;
  top: 16rem;
  max-width: 80%;
  padding: 10px 10px;
  border-radius: .5rem;

}

.result.dark h4{
  color: rgb(253, 255, 254);
  background-color: rgba(255, 255, 255, 0.155);
}
.result.purple h4{
  color: #eae8eb;
  background-color: rgba(255, 255, 255, 0.155);
}
.result.pink h4{
  color: rgb(114, 111, 114);
  background-color: rgba(255, 255, 255, 0.155);
}

.result.grey h4{
  color: rgb(98, 92, 92);
  background-color: rgba(255, 255, 255, 0.155);
}


.result a {
  position: absolute;
  bottom: -1rem;
  letter-spacing: 1px;
  padding-bottom: 2rem;
  font-weight: bold;
  color: rgb(48, 125, 219);
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  cursor: pointer;
}

.result a:hover {
  text-decoration: underline;
}

@media screen and (width < 400px) {
  .result a{
    font-size: 13px;
  }
}

.score_one.pink span{
  color: rgb(94, 91, 91);
}
.score_two.pink span{
  color: rgb(94, 91, 91);
}
.score_three.pink span{
  color: rgb(94, 91, 91);
}



.result .twitter_icon{
  position: relative;
  font-size: 18px;
  top: 4px;
  background-color: rgba(255, 255, 255, 0);
}


.copy_result{
  position: relative;
  font-size: 17px;
  top: 4px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.copy_result:hover {
  color: rgb(156, 153, 153);
}


.time_count {
  position: relative;
  text-align: center;
  top: 9rem;
  left: 1rem;
}

.time_count span {
  position: relative;
  padding: 8px;
  border-radius: .5rem;
  font-weight: bold;
  color: rgb(49, 48, 47);
  font-size: 25px;
  letter-spacing: 1.5px;
}

.time_count.dark span{
  color: rgb(227, 236, 229);
}

.time_count.purple span{
  color: #e6e5e7;
}
.time_count.pink span{
  color: rgb(108, 102, 108);
}

.time_count.grey span{
  color: rgb(81, 77, 77);
}

.btm_part {
  display: flex;
  position: absolute;
  max-width: 900px;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
}

.left_btm {
  display: flex;
  width: 150px;
  position: relative;
  justify-content: space-around;
  left: .2rem;
  bottom: 5px;
}

.github {
  position: relative;
  font-size: 25px;
  color: rgb(147, 144, 144);
  text-decoration: none;
}
.github::after {
  display: none;
  content: 'github';
  position: absolute;
  font-size: 16px;
  background-color: rgb(120, 116, 116);
  color: white;
  padding: 2px 5px;
  border-radius: .2rem;
  bottom: 2.5rem;
  left: -10px;
}

.github:hover::after {
  display: block;
}

.facebook {
  position: relative;
  font-size: 25px;
  color: rgb(147, 144, 144);
  text-decoration: none;
}

.facebook::after {
  display: none;
  content: 'facebook';
  position: absolute;
  font-size: 16px;
  background-color: rgb(120, 116, 116);
  color: white;
  padding: 2px 5px;
  border-radius: .2rem;
  bottom: 2.5rem;
  left: -1.2rem;
}

.facebook:hover::after {
  display: block;
}

.telegram {
  position: relative;
  font-size: 25px;
  color: rgb(147, 144, 144);
  text-decoration: none;
}

.telegram::after {
  display: none;
  content: 'telegram';
  position: absolute;
  font-size: 16px;
  background-color: rgb(120, 116, 116);
  color: white;
  padding: 2px 5px;
  border-radius: .2rem;
  bottom: 2.5rem;
  left: -1rem;
}

.telegram:hover::after {
  display: block;
}

.right_btm {
  position: relative;
  display: flex;
  width: 220px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  right: .2rem;
  bottom: 10px;
}

.port {
  position: relative;
  color: rgb(147, 144, 144);
  font-size: 25px;
}

.right_btm a {
  position: relative;
  font-size: 17px;
  color: rgb(147, 144, 144);
  text-decoration: underline;
}

.right_btm a::after {
  display: none;
  content: 'send me some love 💜';
  position: absolute;
  font-size: 16px;
  background-color: rgb(120, 116, 116);
  color: white;
  padding-top: 2px; padding-bottom: 3px;
  padding-left: 4px;
  border-radius: .2rem;
  bottom: 1.8rem;
  left: 0rem;
}

.right_btm a:hover::after {
  display: block;
}